#container {
  background: rgb(80, 80, 140);
}

div { 
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  color: rgb(231, 233, 235)
}

.survey-question {
  font-size: 15px;
  margin: 20px;
}

.header {
  text-align: center;    
}

#description { 
    font-style: italic;
  font-size: 20px;
}



#survey-form {
}

#radio-label {
}

radio {
}